body {
    background-color: navajowhite;
}

#welcome {
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    background-color: black;
    color: navajowhite;
    height: 100px
}

#image_container {
    text-align: center;
}

#new_burger {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

#title {
    text-align: center;
    font-weight: bold;
    color: #007bff;
}

#title-div {
    background-color: thistle;
}